node_modules
public/hot
public/admin
public/storage
public/images
public/qrcode
public/public
storage/*.key
vendor
.idea
.env
.env.backup
.phpunit.result.cache
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
